html {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Podkova', serif;
}

#app {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
}

.card {
  width: 25%;
  min-height: 300px;
  background-color: gray;
  margin: 16px;
}