html {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  background-color: #212121;
}

h1 {
  font-family: 'Podkova', serif;
  width: 100%;
  text-align: center;
  margin-top: 0;
}

h2 {
  font-size: 20px;
}

#app {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 100%;
}

.card {
  background-color: white;
  /* wid; */
  min-width: 200px;
  min-height: 120px;
  margin: 16px;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-flow: column;
}

.card > *:first-child {
  margin-top: 0;
}

.books-amount {
  letter-spacing: -16px;
  position: relative;
  font-size: 30px;
  text-align: center;
  margin: auto !important;
}

.books-amount:after {
  letter-spacing: initial;
  margin-left: 16px;
  content: attr(data-books-amount);
  font-family: Podkova, serif;
}

.book-emoji {
  display: inline-block;
  transform: rotate(15deg);
}

.next-month {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}